<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Penguin classification</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about Penguins!</h3>

              <p><img src="../static/giphy.gif" alt="Image" class="img-fluid" style="width: 90%;"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5" method="post" id="contactForm" name="contactForm" action ="{{ url_for('predict')}}">
                <div class="row">
                  <div class="col-md-12 form-group">
                  <input list="Islands" name="Island" id = "Island" class="form-control" placeholder="Choose island from the list" required="required" />
                    <datalist id="Islands">
                        <option value="Torgersen">
                        <option value="Biscoe">
                        <option value="Dream">
                    </datalist>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="Culmen Length (in mm)" placeholder="Culmen Length (usually between 20-70mm)" required="required" class="form-control"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
		                <input type="text" name="Culmen Depth (in mm)" placeholder="Culmen Depth (usually between 10-30mm)" required="required" class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="Flipper Length (in mm)" placeholder="Flipper Length (usually between 150-250mm)" required="required" class="form-control" />
                  </div>
                </div><div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="Body Mass (g)" placeholder="Body Mass (usually between 2500-6500g)" required="required" class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="Delta 15 N (o/oo)" placeholder="Nitrogen Difference (usually between 7-11)" class="form-control"/>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="Delta 13 C (o/oo)" placeholder="Nitrogen Difference (usually between -27 - -22)" class="form-control"/>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="Delta 15" style="padding-left: 0.75rem;">Enter the date of research</label>
                    <input type="date" name="Date" placeholder="Date" required="required" class="form-control"/>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <input type="submit" value="Predict Species" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>


  </body>
</html>